/* FONTS */

@font-face {
  font-family: FF-Mark;
  src: url(../assets/Fonts/FF-Mark.otf);
}

@font-face {
  font-family: Spiegel-Regular;
  src: url(../assets/Fonts/Spiegel.ttf);
}

@font-face {
  font-family: BeaufortforLOL-BoldItalic;
  src: url(../assets/Fonts/BeaufortforLOL-BoldItalic.ttf);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

body {
  position: relative;
}

header .header-container {
  max-width: 1084px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.header-container .logo p {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: FF-Mark;
  color: #fff;
  text-decoration: none;
}

.header-container > i {
  color: #fff;
  font-size: 1.2rem;
  height: 28px;
  width: 28px;
  border-radius: 5px;
  border: 1px solid #292929;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-container > i:hover {
  background: #646464;
  cursor: pointer;
}

.info-help {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-height: -webkit-fill-available;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111b7;
  animation: fadeIn 0.2s;
}

.info-help-text-area {
  width: 80%;
  max-width: 800px;
  border: 2px solid green;
  border-radius: 5px;
  background-color: #111;
  border: 2px solid #292929;
  position: relative;
  padding: 3rem;
}

.info-help-text-area .fa-xmark {
  color: #fff;
  position: absolute;
  font-size: 1.2rem;
  top: 0.25rem;
  right: 0.25rem;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-help-text-area p {
  color: #fff;
}

.info-help-text-area p > a {
  color: #fff;
}

.info-help-text-area .fa-xmark:hover {
  background: #292929;
}

@media screen and (max-width: 1200px) {
  header .header-container {
    max-width: 860px;
  }
}

@media screen and (max-width: 900px) {
  header .header-container {
    max-width: 650px;
  }
}

@media screen and (max-width: 680px) {
  header .header-container {
    max-width: 420px;
  }

  .header-container .logo p,
  .header-container a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  header .header-container {
    min-width: 256px;
    width: calc(100% - 4rem);
  }
}
