@font-face {
  font-family: FF-Mark;
  src: url(./Fonts/FF-Mark.otf);
}

footer .footer-container {
  color: #fff;
  max-width: 1084px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-family: FF-Mark;
}

.footer-container .reko {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.footer-container .reko a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  footer .footer-container {
    max-width: 860px;
  }
}

@media screen and (max-width: 900px) {
  footer .footer-container {
    max-width: 650px;
  }
}

@media screen and (max-width: 680px) {
  footer .footer-container {
    max-width: 420px;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  footer .footer-container {
    /* max-width: 420px; */
    min-width: 256px;
    width: calc(100% - 4rem);
  }
}
