@font-face {
  font-family: FF-Mark;
  src: url(./Fonts/FF-Mark.otf);
}

header .header-container {
  max-width: 1084px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.header-container .logo p,
.header-container a {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: FF-Mark;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  header .header-container {
    max-width: 860px;
  }
}

@media screen and (max-width: 900px) {
  header .header-container {
    max-width: 650px;
  }
}

@media screen and (max-width: 680px) {
  header .header-container {
    max-width: 420px;
  }

  .header-container .logo p,
  .header-container a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  header .header-container {
    /* max-width: 420px; */
    min-width: 256px;
    width: calc(100% - 4rem);
  }
}
